.modal{
    background: #fff;
    width: 400px;
    height: 200px;
    border-radius: 12px;
    padding: 20px;
    z-index: 100;
}

.header{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.body {
    padding-top: 12px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}